//variables
$color-principal: #245f36;
$color-secundario: #299741;
$color-gradiente-1: #c2dac2;
$color-gradiente-2: #8bd15d;
$fuente: Arial;
$font-size-menu: 48px;
$font-size-contacto: 36px;
$footer-color: rgb(30, 136, 62);